.container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

h1 { 
    border: 5px solid #ff002bcf;
    text-align: center;
}